// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#topic-header {
  background: #FCFCFC;
  width: 100%;
  padding: 20px 0;
  margin: -20px 0;
}
#topic-header h1,#topic-header p {
  margin: 0;
}
#topic-header .breadcrumb {
  background: transparent;
  padding: 30px 0 0;
}
#topic-header .breadcrumb li a {
  color: #90c322;
}


#blog {
  margin-bottom: 50px;
}
.blog-body .block {
  border: 1px solid #dedede;
  box-shadow: 0 0 3px #C4C4C4;
  padding: 5px;
}


.blog-body .block img {
  width: 100%;
}
.blog-text {
  padding: 20px;
}




#blog .blog-zone {
  margin: 30px 0 0 0;
  position: relative;
}

/* The line */
#blog .blog-zone:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  background: #c7e488;
  left: 1%;
  margin-left: -8px;
}

#blog .blog-zone > li {
  position: relative;
}

/* The date/time */
#blog .blog-zone > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

#blog .blog-zone > li .cbp_tmtime span {
  display: block;
  text-align: right;
}

#blog .blog-zone > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #bdd0db;
}

#blog .blog-zone > li .cbp_tmtime span:last-child {
  font-size: 2.9em;
  color: #90c322;
}



/* Right content */
#blog .blog-zone > li .blog-box {
  margin: 0 0 30px 8%;
  background: #fff;
  border: 1px solid #dedede;
  color: #fff;
  padding: 8px;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 2px;
}

#blog .blog-zone > li:nth-child(odd) .blog-box {
  background: #fff;
  border: 1px solid #dedede;
}




#blog .blog-zone > li:nth-child(odd) .blog-box:after {
  border-right-color: #90c322;
}

/* The icons */
#blog .blog-zone > li .blog-icon {
  width: 40px;
  height: 40px;
  font-size: 1.4em;
  line-height: 40px;
  position: absolute;
  color: #fff;
  background: #90c322;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #C7E488;
  text-align: center;
  left: 1%;
  top: 0;
  margin: 0 0 0 -25px;
}





.blog-box img {
  width: 100%;
}
.blog-box p {
  color: #666;
}
.blog-post-tag {
  background: #eee;
  padding-left: 17px;
  border-left: 3px solid #90c222;
}
.blog-post-tag .block i {
  color: #90c322;
}
.blog-post-tag .block p{
  display: inline-block;
  color: #999;
  font-size: 14px;
}
.blog-post-tag .block p a {
  color: #999;
}
.blog-post-tag .block {
  margin-right: 10px;
  display: inline-block;
}
.blog-post-body {
  padding: 15px;
}
.blog-post-body a h2 {
  color: #90c322;
  margin-bottom: 20px;
}
.blog-post-body p {
  font-size: 16px;
  color: #555;
  padding-top: 10px;
}
#blog .pagination>.active>a {
  background: #90c322;
  border-color: #90c322;
  color: #fff;
}
#blog .pagination>li>a {
  color: #333;
}
#blog .blog-zone > li:last-child .blog-box {
  margin-bottom: 0;
}



/*	Blog Single Page Start.......
    ==================================================*/

.blog-post-body blockquote {
  font-size: 13px;
  border-left: 5px solid #90c322;
  padding: 0 0 0 25px;
  margin: 20px 0 20px 20px;
  color: #AFAFAF;

}
.blog-post-body blockquote p {
  color: #AFAFAF;
  font-size: 18px;
}

.author-id ,.comments-box,.leave-comment  {
  border: 1px solid #dedede;
  margin-top: 30px;
  padding:10px;
}
.author-id .media h4 {
  margin: 0;
}
.author-id .media img ,.comments-box .media img{
  width: 64px;
  height: 64px;
}
.author-id .media-heading {
  color: #555;
}
.author-id .media-body p {
  color: #777;
  font-size: 13px;

}
.author-id .media  h5 {
  background: #EEE;
  margin: 0 0 20px;
  padding: 0 0 0 20px;
  line-height: 38px;
  color: #999;
  text-shadow: 1px 1px 1px #FFF;
}
.comments-box .media-heading span,.comments-box .media-heading a {
  font-style: italic;
  font-size: 13px;
  color: #90c322;
}
.comments-box .media {
  background: #f7f7f7;
  padding:10px;
  border-bottom: 3px solid #dedede;
  color: #878787;
}
.comments-box .media-body {
  padding: 0 20px;
}
.comments-box .reply {
  margin-left: 75px;
  border-bottom: none;
}
.leave-comment .form-group textarea {
  resize:none;
}

/*-------- Blog Sidebar-------------*/

.blog-sidebar .block {
  margin-bottom: 50px;
}
.blog-sidebar .block .media-heading {
  color: #666;
  font-size: 17px;
  display: block;
  margin:0;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.blog-sidebar .block .media-heading:hover {
  color: #90c322;
}
.blog-sidebar .block .media-list {
  padding-top: 10px;
}
.blog-sidebar .block .media-body p {
  color: #777;
  font-size: 13px;
}
.blog-sidebar .block .media a img {
  width: 64px;
  border-radius: 2px;
}
.blog-sidebar {
  padding: 20px 0;
}
.blog-sidebar .block .list-group-item:first-child,
.blog-sidebar .block .list-group-item:last-child  {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.blog-sidebar .block .list-group .list-group-item {
  color: #333;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.blog-sidebar .block .list-group .list-group-item  i {
  margin-right: 5px;
}
.blog-sidebar .block .list-group .list-group-item:hover {
  background: #90c322;
  color: #fff;
  padding-left: 20px;
}



/*-------- Tag-----------*/

.tag-link h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.tag-link a {
  color: #fff;
  background: #90c322;
  padding: 8px 10px;
  display: inline-block;
  margin-bottom: 5px;

}
.tag-link a:hover {
  text-decoration: underline;
}



