<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    <p><%= recipe.name %></p>
    <div class="card-body">
      <p class="card-text"><%= recipe.description %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to 'View This', recipe_path(recipe), class: 'btn btn-sm btn-outline-secondary'  %>
        </div>
        <small class="text-muted"><%= recipe.prep_time %> mins</small>
      </div>
    </div>
  </div>
</div>